<TABLE ALIGN="left" BGCOLOR="#F0F0F0" BORDER=1>
<TR>
<TD><A HREF="$URL?page_popboxes=1&popbox=$LOGIN&enc=$ENC_FORM">Caixas postais</A></TD>
<TD><A HREF="$URL?page_redirects=1&enc=$ENC_FORM">Redirecionamentos</A></TD>
<TD><!--<A HREF="$URL?page_maillists=1&enc=$ENC_FORM">-->Listas de discussao<!--</A>--></TD>
<TD><A HREF="$URL?page_show_log=1&enc=$ENC_FORM">Mostrar registros</A></TD>
<TD><A HREF="$URL?page_change_pass=1&popbox=$LOGIN&enc=$ENC_FORM">Troca de senha</A></TD>
<TD><A HREF="$URL">Sair</A></TD>
</TR>
</TABLE>
