<H2><FONT COLOR=RED>Provável uso malicioso</FONT></H2> 
Nosso servidor identificou uma provável tentativa maliciosa 
de uso do gerenciador de domínios. A tentativa foi registrada
e nossos técnicos serão informados.<BR>
Caso esteja vendo a mensagem acidentalmente não se preocupe,
pois ela também pode ser gerada por uma falha em seu navegador.
Por favor saia do gerenciador e entre novamente com sua senha.
Em caso de dúvida, não hesite em entrar em contato conosco.
<BR><BR>
Obrigado pela compreensão
