<H2 ALIGN=CENTER> Caixas postais no dominio $DOMAIN </H2>
<CENTER><TABLE>
<TR ALIGN=CENTER>
<TD><INPUT TYPE=SUBMIT NAME="page_add_pop" VALUE="Adicionar" onclick="document.main_form.button.value='add_pop'"></TD>
<TD><INPUT TYPE=SUBMIT NAME="do_remove_pop"  onclick="document.main_form.button.value='remove_pop'" VALUE="Remover"></TD>
<TD><INPUT TYPE=SUBMIT NAME="page_quota_pop"  onclick="document.main_form.button.value=''" VALUE="Quota"></TD>
<TD><INPUT TYPE=SUBMIT NAME="page_change_pass" onclick="document.main_form.button.value=''" VALUE="Senha"></TD>
</TR></TABLE>
<TABLE><TR ALIGN = CENTER>
<TD><INPUT TYPE=SUBMIT NAME="page_comment_pop" onclick="document.main_form.button.value=''" VALUE="Comentário"></TD>
<TD><INPUT TYPE=SUBMIT NAME="page_redirects" onclick="document.main_form.button.value=''" VALUE="Redirecionamentos"></TD>
<TD><INPUT TYPE=SUBMIT NAME="page_autoresponse" onclick="document.main_form.button.value=''" VALUE="Resposta automática"></TD><TD></TD>
</TR></TABLE></CENTER><BR>
<TABLE WIDTH=100% CELLSPACING=0>
<TR><TD></TD><TD>Conta</TD><TD>Comentário</TD><TD>Quota</TD><TD>Utilização</TD>
<TD>Redirecionada</TD></TR>
$POPBOX
</TABLE>

<INPUT TYPE=HIDDEN NAME=button VALUE="">
<SCRIPT LANGUAGE="JavaScript">
function validate_form(){
	var form = document.main_form;
	var button = form.button.value;

	var popbox = false;
	if(button != 'add_pop'){
		for(i=0; i< form.popbox.length; i++){
			if(form.popbox[i].checked){
				popbox=form.popbox[i];
			}
		}			
		if(!popbox){ 
			alert("Voce precisa escolher uma caixa postal!");
			return false;
		};
	}
	if(button == 'remove_pop'){
		if(popbox.value == 'postmaster'){
			alert("Voce nao pode remover o usuario administrativo!");
			return false;
		}
		return confirm("Deseja realmente remover " + popbox.value + "?");
	}
	return true;
}
</SCRIPT>

