<HTML>
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML Level 3//EN//3.0">
<HEAD><TITLE>Administração de correio eletrônico - $DOMAIN</title></head>

<BODY BGCOLOR="#FFFFFF">
<FORM NAME=auth ACTION="$URL" METHOD=POST>
<INPUT TYPE=HIDDEN NAME="page_first" VALUE=1>
<CENTER>
<TABLE BORDER="1" ALIGN="center" VALIGN="middle" BGCOLOR="#F0F0F0">
<TR><TD COLSPAN="2" ALIGN="center" VALIGN="middle">
Administração de correio eletrônico do domínio $DOMAIN
</TD></TR>
<TR>
<TD ALIGN="left">Usuário</TD>
<TD ALIGN="right"><INPUT TYPE=TEXT SIZE=8 NAME=login></TD>
</TR>
<TR>
<TD ALIGN="left">Senha</TD>
<TD ALIGN="right"><INPUT TYPE=PASSWORD SIZE=8 NAME=password></TD>
</TR>
<TR>
<TD ALIGN="center" COLSPAN=2><INPUT TYPE=SUBMIT VALUE=Enviar></TD>
</TR>

</TABLE>
</FORM>

$FAILURE

<CENTER>Todas as a&ccedil;&otilde;es ser&atilde;o registrados para sua seguran&ccedil;a</CENTER>
</CENTER>
</body>
</HTML>
