<HTML><HEAD>
<STYLE  TYPE="text/css">
<!--
TABLE {    font-size: 10pt;
	color: black; 
	font-family: Verdana, Arial, sans-serif;
	background-color: lightblue;
}
.main {
	border: thick black double;
}
.data {
}

H2 { 	
	margin: 10pt;
	padding: 5pt;
	color: black; 
	font-size: 12pt; 
	font-weight: bold;
	border: thin black ridge;
	font-family: Arial, sans-serif }

A:link { color: blue;
	font-weight: bolder;
	text-decoration: none; }
A:visited { color: blue;
	font-weight: bolder;
	text-decoration: none; }
-->
</STYLE>

<SCRIPT LANGUAGE="JavaScript">
function validate_form(){
	return true;
}
</SCRIPT>
<TITLE> Administração do domínio $DOMAIN </TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<FORM ACTION=$URL METHOD=POST onsubmit='return validate_form()' NAME=main_form>
<INPUT TYPE=HIDDEN VALUE=$ENC_FORM NAME=enc>
<CENTER><TABLE WIDTH=540 CELLSPACING=0 CLASS=main>
<TR> <TD WIDTH=20% VALIGN=TOP>$BAR</TD></TR>
<TR><TD WIDTH=80% VALIGN=TOP>$BODY</TD></TR>
</TABLE>
</FORM>
</HTML>
