<TABLE ALIGN="left" BGCOLOR="#F0F0F0" BORDER=1 WIDTH=100%>
<TR>
<TD><A HREF="$URL?page_change_pass=1&enc=$ENC_FORM">Troca de senha</A></TD>
<TD><A HREF="$URL?page_redirects=1&enc=$ENC_FORM">Redirecionamentos</A></TD>
<TD><A HREF="$URL?page_show_log=1&enc=$ENC_FORM">Mostrar registros</A></TD>
<TD><A HREF="$URL?page_autoresponse=1&enc=$ENC_FORM">Resposta automática</A></TD>
<TD><!--<A HREF="$URL?action=chdata&enc=$ENC_FORM">-->Troca de Dados<!--</A>--></TD>
<TD><A HREF="$URL">Sair</A></TD>
</TR>
</TABLE>
